<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark grey darken-4">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" routerLink="/"><img src="assets/logo_white.png" alt="Posterbox" /></a></logo>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" routerLink="/" mdbRippleRadius>Overzicht<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline  waves-light" mdbRippleRadius>
      <input class="form-control mr-sm-2" type="text" placeholder="Zoeken...">
    </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
