<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark grey darken-4">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" routerLink="/"><img src="assets/logo_white.png" alt="Posterbox" /></a></logo>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="/overview" mdbRippleRadius>Overzicht</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin">
        <a class="nav-link waves-light" routerLink="/admin" mdbRippleRadius>Beheer<span class="sr-only"></span></a>
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form (keydown.enter)="$event.preventDefault()" class="form-inline  waves-light" mdbRippleRadius>
      <input class="form-control mr-sm-2" type="text" #searchField (input)="search()" placeholder="Zoeken...">
      <span [ngClass]="{'hide': searchField.value.length === 0}" class="float-right" type="button" (click)="clearSearch()"><i class="fa fa-times"></i></span>
    </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
