<!--Card image-->
<div class="view hm-white-slight waves-light" mdbRippleRadius>
  <img src="assets/thumb_test.png" class="img-fluid" style="width: 100%;" alt="Card image with a tree in a middle of a lake.">
  <a>
    <div class="mask"></div>
  </a>
</div>

<!--Card content-->
<div class="card-body">
  <!--Title-->
  <h4 class="figure-caption">Kattenvoer agenda</h4>
  <!--Text-->

  <span class="badge badge-grey">Kattenvoer</span>
  <span class="badge badge-grey">Woensdag</span>
  <span class="badge badge-grey">Agenda</span>
  <span class="badge badge-danger">Evenement</span>
</div>

<div class="card-footer text-muted">
  <div class="dropdown" dropdown>

    <!--Trigger-->
    <button dropdownToggle class="btn btn-sm btn-block btn-primary dropdown-toggle waves-light" type="button" mdbRippleRadius>
      <i class="fa fa-download"></i>&nbsp;&nbsp;Downloaden
    </button>

    <!--Menu-->
    <div class="dropdown-menu dropdown-primary">
      <a class="dropdown-item" href="#">PNG (voor social media)</a>
      <a class="dropdown-item" href="#">PDF (voor print)</a>
      <a class="dropdown-item" href="#">PSD (voor PhotoShop)</a>
    </div>
  </div>
</div>
