<!--Card image-->
<div class="view hm-white-slight waves-light" mdbRippleRadius (click)="open()">
  <img src="{{data.thumbnail}}"  class="img-fluid" style="width: 100%;" alt="Card image with a tree in a middle of a lake.">
  <a>
    <div class="mask"></div>
  </a>
</div>

<!--Card content-->
<div class="card-body">
  <!--Title-->
  <h4 class="figure-caption">{{data.title}}</h4>
  <!--Text-->

  <span *ngFor="let tag of data.tags" class="badge badge-{{tag === 'Evenement' ? 'danger' : 'grey'}}">{{tag}}</span>
</div>

<div class="card-footer text-muted">
  <div class="dropdown" dropdown>

    <!--Trigger-->
    <button dropdownToggle class="btn btn-sm btn-block btn-primary dropdown-toggle waves-light" type="button" mdbRippleRadius>
      <i class="fa fa-download"></i>&nbsp;&nbsp;Downloaden
    </button>

    <!--Menu-->
    <div class="dropdown-menu dropdown-primary">
      <a class="dropdown-item" *ngFor="let file of data.files" href="{{file.path}}" download="{{data.title}}.{{file.type}}">
        {{file.type | uppercase}}
        <span *ngIf="file.type === 'png'">(voor social media)</span>
        <span *ngIf="file.type === 'pdf'">(voor drukwerk)</span>
        <span *ngIf="file.type === 'psd'">(voor Photoshop)</span>
      </a>
    </div>
  </div>
</div>
